@charset "UTF-8";
html, body {
  font-family: 'Roboto', '微軟正黑體', sans-serif; }

::selection {
  background: #F06292;
  color: #fff; }

::-moz-selection {
  background: #F06292;
  color: #fff; }

@media only screen and (max-width: 640px) {
  .brand-logo {
    font-size: 1.8rem !important; } }

.parallax-container {
  min-height: 380px;
  color: rgba(255, 255, 255, 0.9);
  height: auto; }
  .parallax-container .section {
    width: 100%;
    text-shadow: 2px 2px 5px #000; }

footer.page-footer {
  margin: 0; }

.icon-block {
  padding: 0 15px; }
  .icon-block .material-icons {
    font-size: inherit; }

.pinned {
  z-index: 10; }

.activity-list blockquote h4 small {
  font-size: 0.5em; }

.activity-list ul li {
  opacity: 0; }
  .activity-list ul li h5 {
    color: rgba(0, 0, 0, 0.87);
    margin: 0; }
  .activity-list ul li p {
    margin: 0;
    font-size: 1.2em; }
  .activity-list ul li a {
    outline: none; }
    .activity-list ul li a .row {
      padding: 10px 0px; }

@media only screen and (min-width: 1024px) {
  .full-width-intro {
    padding: 0 50px; } }

@media only screen and (max-width: 1024px), screen and (min-width: 640px) {
  .full-width-intro {
    padding: 0 50px; } }

@media only screen and (max-width: 640px) {
  .full-width-intro {
    padding: 0 25px; } }

.schedule-table th, .schedule-table td {
  text-align: center;
  font-size: 1.5em; }
  .schedule-table th img, .schedule-table td img {
    width: 1.5em;
    vertical-align: middle; }
