// out: ./main.css
html, body
  font-family: 'Roboto', '微軟正黑體', sans-serif

h1
  color: #ff00ff

.parallax-container
  min-height: 380px;
  color: rgba(255, 255, 255, .9)
  height: auto
  .section
    width: 100%

footer.page-footer
  margin: 0

.icon-block
  padding: 0 15px
  .material-icons
    font-size: inherit

.pinned
  z-index: 10

.activity-list
  ul li
    opacity: 0
    h5
      color: rgba(0, 0, 0, 0.87)
      margin: 0
    p
      margin: 0
      font-size: 1.2em

.about-openmonth
  padding: 0 50px
